<constellationSiteManagement xmlns="urn:Constellation.Sitecore.SiteManagement">
    <siteBlueprints>
        <siteBluePrint name="AAA">
            <systemFolders>
                <add key="Fabry Site Content Folder" folderName="Focus on Fabry" childTemplateID="74828E9E-60D9-4F1E-9643-71596FB8407D" parentItemPath="/sitecore/content/Sites" readOnly="true">
                    <siteLevelRoles>
                        <add roleName="$blueprint $site Reader">
                            <accessRights>
                                <add accessRight="Create"  />
                            </accessRights>
                        </add>
                    </siteLevelRoles>
                </add>
            </systemFolders>
        </siteBluePrint>
    </siteBlueprints>
    <transSiteRoles>
        <add roleName="Type Author" />
        <add roleName="Type Administrator" memberOfTheseRoles="Type Author,Group Author" />
        <add roleName="News Type Author" memberOfTheseRoles="Type Author" />
        <add roleName="Office Type Author" memberOfTheseRoles="Type Author" />
        <add roleName="Person Type Author" memberOfTheseRoles="Type Author" />
        <add roleName="Page Type Author" memberOfTheseRoles="Type Author" />
        <add roleName="Workflow Author" />
        <add roleName="Workflow Reviewer" />
    </transSiteRoles>

    <targetSystems includeFormsRoot="true" physicalFolder="/" rootPathMask="/sitecore/content/sites/$blueprint/$site" startItem="/home" database="web" domain="extranet" loginPage="/login.aspx">
        <add systemName="local"
             hostNameMask="$site.local.genuinedev.com"
             allowDebug="true"
             cacheHtml="true"
             htmlCacheSize="50MB"
             enablePreview="true"
             enableWebEdit="true"
             enableDebugger="true"
             disableClientData="false"
        />
        <add systemName="t1000"
             hostNameMask="$site.clientname.genuinedev.com"
             allowDebug="true"
             cacheHtml="true"
             htmlCacheSize="50MB"
             enablePreview="true"
             enableWebEdit="true"
             enableDebugger="true"
             disableClientData="false"
        />
        <add systemName="authoring"
             hostNameMask="authoring.$site.clientname.com"
             allowDebug="true"
             cacheHtml="true"
             htmlCacheSize="50MB"
             enablePreview="true"
             enableWebEdit="true"
             enableDebugger="true"
             disableClientData="false"
        />
        <add systemName="delivery"
             hostNameMask="www.$site.clientname.com"
             allowDebug="false"
             cacheHtml="false"
             htmlCacheSize="50MB"
             enablePreview="false"
             enableWebEdit="false"
             enableDebugger="false"
             disableClientData="true"
        />
    </targetSystems>
</constellationSiteManagement>
